# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/

# Environments
venv/
env/
.venv/

# Anaconda projects
anaconda_projects/

# Data (optional)
data/
*.csv

# Logs & temp
*.log
*.tmp